<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-dark">


  <!-- Home Tab -->
  <ion-tab title="Home" icon="icon ion-home" href="#/tab/home">
    <ion-nav-view name="tab-index"></ion-nav-view>
  </ion-tab>


  <!-- Category Tab -->
  <ion-tab title="Categorie" icon="icon ion-ios7-film" href="#/tab/categorie">
    <ion-nav-view name="tab-videocategories"></ion-nav-view>
   </ion-tab>


  <!-- About Tab -->
  <ion-tab title="Info" icon="icon ion-information-circled" href="#/tab/info">
    <ion-nav-view name="tab-info"></ion-nav-view>
  </ion-tab>


</ion-tabs>
